
{{#each this}}<div>
    <img src={{flag}} alt={{name}}>
    <h1>{{name}}</h1>
    <h2>Capital: </h2><span>{{capital}}</span>
    <h2>Population: </h2><span>{{population}}</span>
    <h2>Languages: </h2><span>{{lang}}</span>
</div>{{/each}}